.react-datepicker__header {
  text-align: center;
  background: var(--hero-gradient) !important;
  border-bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 8px;
  position: relative;

}

.react-datepicker__today-button {  
  border-top: 0;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  clear: left;
}

.react-datepicker__today-button,
.react-datepicker__today-button:hover {
  background: var(--hero-gradient) !important;
}

.react-datepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  background-color: #333 !important;
  color: #000;
  border: 0px;
  border-radius: 0;
  display: inline-block;
  position: relative;
}

.react-datepicker__time-box {
  background: #333;
  color: white;
}

.react-datepicker__time-list-item:hover:not(.react-datepicker__time-list-item--selected),
.react-datepicker__day:hover:not(.react-datepicker__day--selected) {
  background: var(--club-red-dark) !important;
}

.react-datepicker__time-list-item--selected,
.react-datepicker__day--selected {
  background: var(--club-red) !important;
}

.react-datepicker__day--disabled,
.react-datepicker__day--selected.react-datepicker__day--disabled {
  opacity: 0.5;
  pointer-events: none;
  background: transparent !important;
}

.react-datepicker__day,
.react-datepicker__header * {
  color: white !important;
}